* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.lock text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
*.sql text eol=lf
*.sse text eol=lf
*.txt text eol=lf
apps/gui/src/design-system/themes.generated.css text eol=lf
